{% extends 'base.html' %}
{% block content %}
	<div id="home" class="text-center">
		<div class="caption">
			<h1>Welcome to AutoSpear</h1>
            <div class="container">
                <form action="/action_page.php">
                    <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Search for car parts..." name="email">
                    </div>
                    <button type="submit" class="btn btn-outline-light btn-lg">Search for a car part</button>
                </form>
            </div>
		</div>
	</div>
    <div id="features" class="jumbotron jumbotron-fluid">
		<div class="container-fluid text-center">
			<h1>Our products</h1>
			<hr>
			<div class="row">
				<div class="col-md-4">
                    <img src="static/images/part.PNG">
					<h3>Car parts</h3>
					<p>Explore a comprehensive selection of auto parts at your fingertips</p>
				</div>
				<div class="col-md-4">
                    <img src="static/images/oils.PNG">
					<h3>Oils and fluids</h3>
					<p>Dive into our vast reservoir of premium oils, ensuring smooth performance and longevity for your vehicle's engine</p>
				</div>
				<div class="col-md-4">
                    <img src="static/images/tool.PNG">
					<h3>Tools</h3>
					<p>Unlock access to a diverse array of high-quality automotive tools for every repair and maintenance need</p>
				</div>
				
			</div>
		</div>
	</div>

	<!--- Start contact Section -->
	<div id="contact" class="text-center">
		<div class="footer">
			<p>Get in touch with us today and let us help you with all your automotive needs</p>
			<strong>Contact info</strong>
			<p>(888)888-8888</p>
			<p>email@autoSpear.com</p>
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
		<hr>
		<h5>&copy; AutoSpear Team</h5>
	</div>
	<style>
        #home{
			background-image: url('static/images/darkback.jpg');
			background-repeat:no-repeat;
			background-size:cover;
			height: 650px;
			width: 100%;
			z-index: -1;
		}
    </style>
{% endblock %}