{% extends 'base.html' %}
{% block content %}
    <style>
        body {
            background-color: #222; /* Dark background color */
            color: #fff; /* White text color */
        }
        .container {
            padding: 20px;
            border-radius: 5px;
            margin-top: 100px;
            margin-bottom: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add shadow effect */
        }
    </style>
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-signin">
                {{ form.hidden_tag() }}
                <img class="mb-4" src="static/images/logo.jpg">
                <h1 class="h3 mb-3 font-weight-normal">Please Login In</h1>
                <br>
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name")}}

                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password")}}
                <br>
                <div class="checkbox mb-3">
                    <h6>Do not have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
                </div>

                {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
            </form>
        </div>
    </body>
{% endblock %}