{% extends 'base.html' %}
{% block content %}
	<div class="container text-center">
        <form action="/action_page.php">
            <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Search for car parts..." name="email">
            </div>
            <button type="submit" class="btn btn-secondary btn-lg">Search for a car part</button>
        </form>
    </div>
	<div class="container" id="Available">
		<h1>List of Available products</h1>
		<hr>
		<div class="row">
			{% for product in products|sort(attribute='designation') %}
				<div class="col-md-4">
					<div class="card bg-light mb-3">
						<div class="card-header"><h5>{{ product.designation }}</h5></div>
						<div class="card-body">{{ product.description }}</div>
						<div class="card-footer">
							<button data-toggle="collapse" data-target="#demo{{ loop.index }}" class="btn btn-outline-info">Supplier</button>
							<div id="demo{{ loop.index }}" class="collapse">
								{{ product.supplier.name }}: {{ product.supplier.address }}
							</div>
							<button class="btn btn-outline-success">Purchase</button>
						</div>
					</div>
				</div>
				{% if loop.index % 3 == 0 %}
					</div><div class="row">
				{% endif %}
			{% endfor %} 
		</div>
	</div>



	<!--- Start contact Section -->
	<div id="contact" class="text-center">
		<div class="footer">
			<p>Get in touch with us today and let us help you with all your automotive needs</p>
			<strong>Contact info</strong>
			<p>(888)888-8888</p>
			<p>email@autoSpear.com</p>
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
		<hr>
		<h5>&copy; AutoSpear Team</h5>
	</div>
	<style>
        #home{
			background-image: url('static/images/darkback.jpg');
			background-repeat:no-repeat;
			background-size:cover;
			height: 650px;
			width: 100%;
			z-index: -1;
		}
    </style>
{% endblock %}