{% extends 'base.html' %}
{% block content %}
	<div class="container text-center">
        <form action="/action_page.php">
            <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Search for car parts..." name="email">
            </div>
            <button type="submit" class="btn btn-secondary btn-lg">Search for a car part</button>
        </form>
    </div>
	<div class="row">
		<div class="container col-8" id="Available">
			<h1>List of Available products</h1>
			<hr>
			<div class="row">
				{% for product in products|sort(attribute='designation') %}
				{% include 'includes/items_modals.html' %}
					<div class="col-md-4">
						<div class="card bg-light mb-3">
							<div class="card-header"><h5>{{ product.designation }}</h5></div>
							<div class="card-body">{{ product.description }}</div>
							<div class="card-footer">
								<button class="btn btn-outline-info" data-toggle="modal" data-target="#myModal-{{ product.supplier.id }}">Supplier</button>

								<button class="btn btn-outline-success" data-toggle="modal" data-target="#myModal-purchaseconfirm-{{ product.supplier.id }}">Purchase</button>
							</div>
						</div>
					</div>
					{% if loop.index % 3 == 0 %}
						</div><div class="row">
					{% endif %}
				{% endfor %} 
			</div>
		</div>
		<div class="container col-4", id="owned">
			<h2>Owned Items</h2>
			<hr>
			<div class="row">
				{% for owned_item in purchased_items %}
				{% include 'includes/owned_items_modals.html' %}
					<div class="col-md-6">
						<div class="card bg-light mb-3">
							<div class="card-header"><h5>{{ owned_item.designation }}</h5></div>
							<button class="btn btn-outline-danger" data-toggle="modal" data-target="#Modal-RemovingConfirm-{{ owned_item.id }}">Remove</button>
						</div>
					</div>
				{% endfor %}
			</div>	
		</div>

	</div>



	<!--- Start contact Section -->
	<div id="contact" class="text-center">
		<div class="footer">
			<p>Get in touch with us today and let us help you with all your automotive needs</p>
			<strong>Contact info</strong>
			<p>(888)888-8888</p>
			<p>email@autoSpear.com</p>
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
		<hr>
		<h5>&copy; AutoSpear Team</h5>
	</div>
	<style>
        #home{
			background-image: url('static/images/darkback.jpg');
			background-repeat:no-repeat;
			background-size:cover;
			height: 650px;
			width: 100%;
			z-index: -1;
		}
    </style>
{% endblock %}